
@media  (max-width:350px) {
 #upbar{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    text-align: center;
 }
}

@media  (max-width:540px) {
    .mainbar{
   grid-template-columns: 1fr;
    }

    .card{
        max-width: 300px;
    }
}

@media (min-width: 541px) and  (max-width: 750px){
#upbar{
    grid-template-columns: 35% 35% 30%;
}
 .mainbar{
    grid-template-columns: 1fr 1fr;
 }
}

@media (min-width:1530px) {
    .mainbar{
      grid-template-columns: repeat(4, 1fr);
    }
}