html{
 background: rgb(0, 3, 4);
background: linear-gradient(150deg, rgba(0, 3, 4, 1) 15%, rgba(250, 250, 250, 1) 15%, rgba(250, 250, 250, 1) 85%, rgba(0, 3, 4, 1) 85%);
background-repeat: no-repeat;

}

body{
    margin: 3rem;
    padding-top: 3.5rem;
}

#signupbody{
    padding-top: 0;
}